<div class="editar-terceirizado container-fluid mt-4 mb-4">
  <div *ngFor="let item of terceirizadoData">
    <div *ngIf="item.terceirizadoUuid == terceirizadoUuid">
      <div class="container-content mb-4 p-4">
        <h1>Editar Terceirizado</h1>

        <div class="line mb-5"></div>
        
        <div [ngSwitch]="status">
          <div *ngSwitchCase="'success'">
            <div class="alert alert-success alert-dismissible fade show mb-5" role="alert">
              Edição realizada com sucesso!
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
          <div *ngSwitchCase="'fail'">
            <div class="alert alert-danger alert-dismissible fade show mb-5" role="alert">
              Falha ao editar, confira os dados e tente novamente.
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <p class="title">Dados cadastrais</p>
          <div class="content d-flex ms-3">
            <form class="row g-3">
              <div class="col-md-4">
                <label for="inputNomeEmpresa" class="form-label">Nome da Empresa</label>
                <input type="text" class="form-control" id="inputNomeEmpresa" value="{{item.empresa}}">
              </div>
              <div class="col-md-4">
                <label for="inputCnpj" class="form-label">CNPJ</label>
                <input type="text" class="form-control" id="inputCnpj" value="{{item.cnpj}}">
              </div>
              <div class="col-md-4">
                <label for="inputTipo" class="form-label">Tipo de Empresa</label>
                <select class="form-select" id="inputTipo" aria-label="Tipo de empresa">
                  <option value="1" selected>Frete</option>
                  <option value="2">Limpeza</option>
                  <option value="3">Manutenção</option>
                </select>
              </div>

              <div class="col-md-6">
                <label for="inputTelefone" class="form-label">Telefone</label>
                <input type="tel" class="form-control" id="inputTelefone" value="{{item.telefone}}">
              </div>

              <div class="col-md-6">
                <label for="inputEmail" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail" value="{{item.email}}">
              </div>
        
              <div class="col-md-4">
                <label for="inputCep" class="form-label">CEP</label>
                <input type="text" class="form-control" id="inputCep" value="{{item.endereco.cep}}">
              </div>
              <div class="col-md-4">
                <label for="inputEstado" class="form-label">Estado</label>
                <input type="text" class="form-control" id="inputEstado" value="{{item.endereco.estado}}">
              </div>
              <div class="col-md-4">
                <label for="inputCidade" class="form-label">Cidade</label>
                <input type="text" class="form-control" id="inputCidade" value="{{item.endereco.cidade}}">
              </div>
              <div class="col-md-6">
                <label for="inputEndereco" class="form-label">Endereço</label>
                <input type="text" class="form-control" id="inputEndereco" placeholder="Rua Martin Afonso" value="{{item.endereco.logradouro}}">
              </div>
              <div class="col-md-3">
                <label for="inputNumero" class="form-label">Número</label>
                <input type="number" class="form-control" id="inputNumero" placeholder="123" value="{{item.endereco.numero}}">
              </div>
              <div class="col-md-3 mb-3">
                <label for="inputComplemento" class="form-label">Complemento</label>
                <input type="text" class="form-control" id="inputComplemento" placeholder="Casa 2" value="{{item.endereco.complemento}}">
              </div>

              <div class="ctn-btn d-flex justify-content-evenly mt-5">
                <button type="submit"(click)="editar()">Salvar Alterações</button>
                <a [routerLink]="['/gerente/visualizar-terceirizados']">Voltar</a>
                <!--<a href="#" routerLink="/gerente/visualizar-clientes">Voltar</a>-->
              </div>
            </form>
          </div>
        </div>  
      </div>  
    </div>  
  </div>  
</div>