<div class="editar-terceirizado container-fluid mt-4 mb-4">
  <div *ngFor="let item of terceirizadoData">
    <div *ngIf="item.terceirizadoUuid == terceirizadoUuid">
      <div class="container-content mb-4 p-4">
        <h1>Editar Terceirizado</h1>

        <div class="line mb-5"></div>
        
        <div [ngSwitch]="statusMsg">
          <div *ngSwitchCase="'success'">
            <div class="alert alert-success alert-dismissible fade show mb-5" role="alert">
              Edição realizada com sucesso!
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
          <div *ngSwitchCase="'fail'">
            <div class="alert alert-danger alert-dismissible fade show mb-5" role="alert">
              Falha ao editar, confira os dados e tente novamente.
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <p class="title">Dados cadastrais</p>
          <div class="content d-flex ms-3">
            <form class="row g-3" #formTerceirizado="ngForm" (ngSubmit)="editar()">
              <div class="col-md-6">
                <label for="inputEmpresa" class="form-label">Nome da Empresa</label>
                <input type="text" class="form-control" id="inputEmpresa" name="empresa" [(ngModel)]="terceirizado.empresa" #empresa="ngModel" required>
                <div *ngIf="empresa.errors && (empresa.dirty || empresa.touched)" class="alert alert-danger">
                  <div [hidden]="!empresa.errors?.['required']">Digite o nome da empresa.</div>
                </div>
              </div>
              <div class="col-md-6">
                <label for="inputCnpj" class="form-label">CNPJ</label>
                <input type="text" class="form-control" id="inputCnpj" value="{{item.cnpj}}">
              </div>       

              <div class="col-md-12 mt-4 ctn-servicos">
                <label>Serviço Prestado: </label>
                <div *ngFor="let item of servicosCadastrados">
                  <label>
                    <input type="checkbox" name="nome" [(ngModel)]="item.checked"  (change)="onCheckboxChange(item)"> {{item.nome}}
                  </label>
                </div>
              </div>
    
              <div class="col-md-6">
                <label for="inputTelefone" class="form-label">Telefone</label>
                <input type="tel" class="form-control" id="inputTelefone" value="{{terceirizado.telefone}}" [(ngModel)]="terceirizado.telefone" name="telefone">
              </div>

              <div class="col-md-6">
                <label for="inputEmail" class="form-label">Email</label>
                <input type="email" pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" class="form-control" id="inputEmail" value="{{terceirizado.email}}" [(ngModel)]="terceirizado.email" name="email"  #email="ngModel" required  email="true">
                <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                  <div [hidden]="!email.errors?.['required']">Digite o email.</div>
                  <div [hidden]="!email.errors?.['pattern']">Digite um email válido.</div>
                </div>
              </div>
        
              <div class="col-md-4">
                <label for="inputCep" class="form-label">CEP</label>
                <input type="text" class="form-control" id="inputCep" value="{{terceirizado.endereco.cep}}" [(ngModel)]="terceirizado.endereco.cep" name="cep" #cep="ngModel" required mask='00000-000'>
                <div *ngIf="cep.errors && (cep.dirty || cep.touched)" class="alert alert-danger">
                  <div [hidden]="!cep.errors?.['required']">Digite o CEP.</div>
                </div>
              </div>
              <div class="col-md-4">
                <label for="inputEstado" class="form-label">Estado</label>
                <input type="text" class="form-control" id="inputEstado" value="{{terceirizado.endereco.estado}}" [(ngModel)]="terceirizado.endereco.estado" name="estado">
              </div>
              <div class="col-md-4">
                <label for="inputCidade" class="form-label">Cidade</label>
                <input type="text" class="form-control" id="inputCidade" value="{{terceirizado.endereco.cidade}}" [(ngModel)]="terceirizado.endereco.cidade" name="cidade">
              </div>
              <div class="col-md-6">
                <label for="inputEndereco" class="form-label">Endereço</label>
                <input type="text" class="form-control" id="inputEndereco" placeholder="Rua Martin Afonso" value="{{terceirizado.endereco.logradouro}}" [(ngModel)]="terceirizado.endereco.logradouro" name="logradouro">
              </div>
              <div class="col-md-3">
                <label for="inputNumero" class="form-label">Número</label>
                <input type="number" class="form-control" id="inputNumero" placeholder="123" value="{{terceirizado.endereco.numero}}" [(ngModel)]="terceirizado.endereco.numero" name="numero" #numero="ngModel" required>
                <div *ngIf="numero.errors && (numero.dirty || numero.touched)" class="alert alert-danger">
                  <div [hidden]="!numero.errors?.['required']">Digite um número.</div>
                </div>
              </div>
             <div class="col-md-3 mb-3">
                <label for="inputComplemento" class="form-label">Complemento</label>
                <input type="text" class="form-control" id="inputComplemento" placeholder="Casa 2" value="{{terceirizado.endereco.complemento}}" [(ngModel)]="terceirizado.endereco.complemento" name="complemento">
              </div>

              <div class="ctn-btn d-flex justify-content-evenly mt-5">
                <button type="submit">Salvar Alterações</button>
                <a [routerLink]="['/gerente/visualizar-terceirizados']">Voltar</a>
              </div>
            </form>
          </div>
        </div>  
      </div>  
    </div>  
  </div>  
</div>