<div class="alterar-senha container-fluid mt-4 mb-4">
  <div class="container-content mb-4 p-4">
    <h1>Alterar Senha</h1>

    <div class="line mb-5"></div>
  
    <div [ngSwitch]="statusMsg">
      <div *ngSwitchCase="'success'">
        <div class="alert alert-success alert-dismissible fade show mb-5" role="alert">
          Senha alterada com sucesso!
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
      <div *ngSwitchCase="'fail'">
        <div class="alert alert-danger alert-dismissible fade show mb-5" role="alert">
          Falha ao alterar, as senhas precisam ser idênticas!
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <p class="title">Digite sua nova senha</p>
      <div class="content ms-3">
        <form class="row g-3" #formAlterarSenha="ngForm" (ngSubmit)="changePassword()">
          <div class="col-md-12">
            <label class="form-label" for="newPassword">Nova senha:</label>
            <input class="form-control" type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" #novaSenha="ngModel" required>
            <div *ngIf="novaSenha.errors && (novaSenha.dirty || novaSenha.touched)" class="alert alert-danger">
              <div [hidden]="!novaSenha.errors?.['required']">Digite o nova senha.</div>
            </div>
          </div>
          <div class="col-md-12">
            <label class="form-label" for="confirmPassword">Confirme sua nova senha:</label>
            <input class="form-control" type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" #novaSenhaConfirma="ngModel" required>
            <div *ngIf="novaSenhaConfirma.errors && (novaSenhaConfirma.dirty || novaSenhaConfirma.touched)" class="alert alert-danger">
              <div [hidden]="!novaSenhaConfirma.errors?.['required']">Digite a confirmação da senha.</div>
          </div>
          </div> 

          <div class="ctn-btn d-flex justify-content-evenly mt-5">
            <button type="submit">Salvar Alterações</button>
            <a [routerLink]="['/cliente/visualizar-aluguel']">Voltar</a>
          </div>
        </form>
      </div>
    </div> 
  </div>  
</div>