<div class="visualizar-historico-alugueis container-fluid mt-4 mb-4">
  <div class="container-content p-4">
    <h1 class="mb-4">Histórico de Aluguéis</h1>

    <div class="table-responsive">
      <table class="table align-middle text-center">
        <thead class="table-light">
          <tr>
            <th [appSort]="aluguelData" data-order="desc" data-name="nome">Cliente <i class="fa fa-sort" aria-hidden="true"></i></th>
            <th [appSort]="aluguelData" data-order="desc" data-name="telefone">Telefone <i class="fa fa-sort" aria-hidden="true"></i></th>
            <th [appSort]="aluguelData" data-order="desc" data-name="endereco">Endereço <i class="fa fa-sort" aria-hidden="true"></i></th>
            <th [appSort]="aluguelData" data-order="desc" data-name="estadoAluguel">Status <i class="fa fa-sort" aria-hidden="true"></i></th>
            <th [appSort]="aluguelData" data-order="desc" data-name="dataInicio">Início <i class="fa fa-sort" aria-hidden="true"></i></th>
            <th [appSort]="aluguelData" data-order="desc" data-name="dataDevolucao">Fim <i class="fa fa-sort" aria-hidden="true"></i></th>
            <th>Opções</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of aluguelData">
            <td>{{ item.cliente.nome! | capitalizacaoGerente }}</td>
            <td>{{ item.cliente.telefone! | phoneGerente }}</td>
            <td>{{ item.endereco.logradouro! | capitalizacaoGerente }}, {{ item.endereco.numero }} - {{ item.endereco.complemento! | capitalizacaoGerente }}</td>
            <td>{{ item.estadoAluguel! | capitalizacaoGerente }}</td>
            <td>{{ item.dataInicio }}</td>
            <td>{{ item.dataDevolucao }}</td>
            <td>
              <a [routerLink]="['/gerente/visualizar-aluguel', item.aluguelUuid]">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </a>  
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
