<div class="manter-cliente container-fluid mt-4 mb-4">
  <div class="container-content mb-4 p-4">
    <h1>Cadastrar Novo Cliente</h1>

    <div class="line mb-5"></div>
    
    <div class="mb-3">
      <p class="title">Dados cadastrais</p>
      <div class="content d-flex ms-3">
        <form class="row g-3">
          <div class="col-md-6">
            <label for="inputFirstName" class="form-label">Nome</label>
            <input type="text" class="form-control" id="inputFirstName">
          </div>
          <div class="col-md-6">
            <label for="inputSurname" class="form-label">Sobrenome</label>
            <input type="text" class="form-control" id="inputSurname">
          </div>
          <div class="col-md-6">
            <label for="inputBirthDate" class="form-label">Data de Nascimento</label>
            <input type="text" class="form-control" id="inputBirthDate">
          </div>
          <div class="col-md-6">
            <label for="inputCpf" class="form-label">CPF</label>
            <input type="text" class="form-control" id="inputCpf">
          </div>
          <div class="col-md-6">
            <label for="inputPhone" class="form-label">Telefone</label>
            <input type="tel" class="form-control" id="inputPhone">
          </div>
          <div class="col-md-6">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail">
          </div>
     
          <div class="col-md-4">
            <label for="inputZipCode" class="form-label">CEP</label>
            <input type="text" class="form-control" id="inputZipCode">
          </div>
          <div class="col-md-4">
            <label for="inputState" class="form-label">Estado</label>
            <input type="text" class="form-control" id="inputState">
          </div>
          <div class="col-md-4">
            <label for="inputCity" class="form-label">Cidade</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="col-6">
            <label for="inputAddress" class="form-label">Endereço</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Rua Martin Afonso">
          </div>
          <div class="col-3">
            <label for="inputNumber" class="form-label">Número</label>
            <input type="number" class="form-control" id="inputNumber" placeholder="123">
          </div>
          <div class="col-3 mb-3">
            <label for="inputComplemento" class="form-label">Complemento</label>
            <input type="text" class="form-control" id="inputComplemento" placeholder="Casa 2">
          </div>

          <div class="ctn-btn d-flex justify-content-evenly mt-5">
            <button type="submit">Cadastrar</button>
            <a href="/gerente/visualizar-clientes">Voltar</a>
            <!--<a href="#" routerLink="/gerente/visualizar-clientes">Voltar</a>-->
          </div>
        </form>
      </div>
    </div>  
</div>