<div class="pagina-inicial container-fluid mt-4 mb-4">
  <div class="container-content mb-4 p-4">
    <h1>Somos uma empresa curitibana de aluguel de contêineres</h1>

    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide *ngFor="let item of images">
        <div class="img-wrapper">
          <img [src]="item.path" width="item.width" height="item.height" alt="item.altText" />
        </div>
        <div class="description">
          <h3>{{item.type}}</h3>
        </div>
      </ng-template>
    </ngb-carousel>

    <p class="mt-5 ms-5 me-5">
      Gostaria de saber mais sobre nosso aluguel de contêineres?
      <br/>Entre em contato através do telefone (41) 3003-3003
    </p>

    <p *ngIf="logado === '0'" class="mt-5 ms-5 me-5">
      Já tem acesso? Faça o login abaixo!
    </p>
    
    <div *ngIf="logado === '0'" class="ctn-btn d-flex justify-content-evenly mt-1">
      <a [routerLink]="['/auth/login']">Entrar</a>
    </div>
  </div>
</div>