<div class="login mb-4">
  <div class="container-content mb-4 p-4">
    <h1>Faça o login para entrar</h1>

    <div [ngSwitch]="statusMsg">
      <div *ngSwitchCase="'fail'">
        <div class="alert alert-danger alert-dismissible fade show mb-5" role="alert">
          E-mail e/ou senha incorretos, verifique e tente novamente!
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
      <div *ngSwitchCase="'forgot'">
        <div class="alert alert-warning alert-dismissible fade show mb-5" role="alert">
          Entre em contato pelo telefone (41) 3003-3003 para redefinir sua senha!
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
    </div>

    <form class="mt-5" #formLogin="ngForm" (ngSubmit)="efetuarLogin()">
      <div class="form-group">
        <label class="form-label" for="inputLogin">E-mail</label>
        <input type="email" class="form-control" id="inputLogin" aria-describedby="email" placeholder="Digite seu e-mail de acesso" name="inputLogin" [(ngModel)]="login.usuario">
      </div>
      <div class="form-group mt-4">
        <label class="form-label" for="inputPassword">Senha</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Digite sua senha" name="password" [(ngModel)]="login.senha">
      </div>
      <p>
        <a (click)="forgetPassword()" class="password-reset">Esqueci minha senha</a>
      </p>      
      <div class="ctn-btn d-flex justify-content-evenly mt-3 mb-3">
        <button type="submit">Entrar</button> 
      </div>      
    </form>
  </div>  
</div>