<div class="solicitar-contato container-fluid mt-4 mb-4">
  <div class="container-content mb-4 p-4">
    <h1>Solicitar contato de um de nossos gerentes</h1>

    <div class="line mb-5"></div>

    <div [ngSwitch]="statusMsg">
      <div *ngSwitchCase="'success'">
        <div class="alert alert-success alert-dismissible fade show mb-5" role="alert">
          Cadastro realizado com sucesso!
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
      <div *ngSwitchCase="'fail'">
        <div class="alert alert-danger alert-dismissible fade show mb-5" role="alert">
          Falha ao cadastrar, confira os dados e tente novamente.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <p class="title">Dados cadastrais</p>
      <div class="content ms-3">
        <form class="row g-3" #formSolicitacao="ngForm" (ngSubmit)="cadastrar()">
          <div class="col-md-12">
            <label for="inputNome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="inputNome" [(ngModel)]="novoCliente.nome" name="nome">
          </div>
          <div class="col-md-12">
            <label for="inputTelefone" class="form-label">Telefone</label>
            <input type="tel" class="form-control" id="inputTelefone" [(ngModel)]="novoCliente.telefone" name="telefone">
          </div>
          <div class="col-md-12">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail" [(ngModel)]="novoCliente.email" name="email">
          </div>  

          <div class="ctn-btn d-flex justify-content-evenly mt-5">
            <button type="submit">Enviar Solicitação</button>
            <a [routerLink]="['/sistema/pagina-inicial']">Voltar</a>
          </div>
        </form>
      </div>
    </div>  
</div>