<div class="detalhes-aluguel container-fluid mt-4 mb-4">
  <div class="container-content mb-4 p-4">
    <h4>Visualizar Detalhes do Aluguel</h4>

    <div class="mb-5">
      <p class="title">Dados cadastrais</p>
      <div class="content d-flex justify-content-start ms-5">
        <p class="me-5"><span>Nome do locatário:</span> Letícia das Chagas Lima</p>
        <p><span>CPF:</span> 078.452.365-85</p>
      </div>
    </div>
  
    <div class="mb-5">
      <p class="title">Período de Locação</p>
      <div class="content d-flex justify-content-start ms-5">
        <p class="me-5"><span>Data de início:</span> 03/01/2023</p>
        <p class="me-5"><span>Data de devolução:</span> 03/05/2023</p>
        <p><span>Tipo de locação:</span> mensal</p>
      </div>
    </div>
  
    <div class="mb-1">
      <p class="title">Endereço de locação</p>
      <div class="content d-flex justify-content-start ms-5">
        <p class="me-5"><span>Endereço:</span> Rua Martim Afonso</p>
        <p class="me-5"><span>Número:</span> 242</p>
        <p><span>Complemento:</span> Apto 73</p>
      </div>
      <div class="content d-flex justify-content-start ms-5">
        <p class="me-5"><span>CEP:</span> 80.470-950</p>
        <p class="me-5"><span>Cidade:</span> Curitiba</p>
        <p><span>Estado:</span> Paraná</p>
      </div>
    </div>
  </div>

  <div class="container-content p-4">
    <div class="mb-4">
      <p class="title">Itens selecionados</p>
      <div class="table-responsive">
        <table class="table align-middle text-center">
          <thead class="table-light">
            <tr>
              <th>Código</th>
              <th>Categoria</th>
              <th>Tipo</th>
              <th>Valor por mês</th>
              <th>Desconto</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>#123</td>
              <td>Construção Civil</td>
              <td>Pequeno</td>
              <td>R$400,00</td>
              <td>R$0,00</td>
              <td>R$1.600,00</td>
            </tr>
            <tr>
              <td>#45</td>
              <td>Construção Civil</td>
              <td>Grande</td>
              <td>R$500,00</td>
              <td>R$0,00</td>
              <td>R$2.500,00</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
    <div class="pt-2 line">
      <div class="price d-flex">
        <p><span>Total da compra:</span> R$4.100,00</p>
        <p><span>Desconto:</span> R$410,00</p>
        <p class="line pt-2"><span>Total com desconto:</span> R$3.690</p>
      </div>
    </div>
  </div>

  <div class="ctn-btn d-flex justify-content-evenly mt-4 mb-4">
    <a href="#" routerLink="/cliente/visualizar-aluguel">Voltar</a>
    <a href="#">Ver contrato</a>
    <a href="#">Realizar pagamento PayPal</a>
  </div>  
</div>
