<div class="visualizar-terceirizados container-fluid mt-4 mb-4">
  <div class="container-content p-4">
    <h1 class="mb-4">Clientes Cadastrados</h1>

    <div class="table-responsive">
      <table class="table align-middle text-center">
        <thead class="table-light">
          <tr>
            <th [appSort]="clienteData.content" data-order="desc" data-name="tipo">Tipo <i class="fa fa-sort" aria-hidden="true"></i></th>
            <th [appSort]="clienteData.content" data-order="desc" data-name="empresa">Empresa <i class="fa fa-sort" aria-hidden="true"></i></th>
            <th [appSort]="clienteData.content" data-order="desc" data-name="telefone">Telefone <i class="fa fa-sort" aria-hidden="true"></i></th>
            <th [appSort]="clienteData.content" data-order="desc" data-name="cnpj">CNPJ <i class="fa fa-sort" aria-hidden="true"></i></th>
            <th [appSort]="clienteData.content" data-order="desc" data-name="endereco">Endereço <i class="fa fa-sort" aria-hidden="true"></i></th>
            <th>Opções</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of clienteData.content">
            <td>{{ item.tipo }}</td>
            <td>{{ item.empresa }}</td>
            <td>{{ item.telefone }}</td>
            <td>{{ item.cnpj }}</td>
            <td>{{ item.endereco }}</td>
            <td>
              <a href="/gerente/visualizar-detalhes-terceirizado/2">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </a>
              <a href="/gerente/editar-terceirizado/2">
                <i class="fa fa-user-edit" aria-hidden="true"></i>
              </a>              
              <i class="fa fa-trash-alt" aria-hidden="true"></i>
            </td>
          </tr>
          <!--
            <a [routerLink]="['/gerente/visualizar-detalhes-cliente', item.id]" href="#">
              <i class="fa fa-eye" aria-hidden="true"></i>
            </a>-->
        </tbody>
      </table>
      <div class="ctn-btn d-flex justify-content-evenly mt-5">
        <a href="/gerente/manter-terceirizado">Cadastrar Terceirizado</a>
        <!--<a href="#" routerLink="/gerente/manter-cliente">Cadastrar Cliente</a>-->
      </div>
    </div>
  </div>
</div>
