<div class="visualizar-clientes container-fluid mt-4 mb-4">
  <div class="container-content p-4">
    <h1 class="mb-4">Clientes Cadastrados</h1>

    <div class="table-responsive">
      <table class="table align-middle text-center">
        <thead class="table-light">
          <tr>
            <th [appSort]="clienteData" data-order="desc" data-name="nome">Nome <i class="fa fa-sort" aria-hidden="true"></i></th>
            <th [appSort]="clienteData" data-order="desc" data-name="telefone">Telefone <i class="fa fa-sort" aria-hidden="true"></i></th>
            <th [appSort]="clienteData" data-order="desc" data-name="cpf">CPF <i class="fa fa-sort" aria-hidden="true"></i></th>
            <th>Endereço</th>
            <th>Opções</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of clienteData">
            <td>{{ item.nome! | capitalizacaoGerente }} {{ item.sobrenome! | capitalizacaoGerente }}</td>
            <td>{{ item.telefone! | phoneGerente }}</td>
            <td>{{ item.cpf! | cpfGerente }}</td> <td>{{ item.endereco.logradouro! | capitalizacaoGerente }}, {{ item.endereco.numero }}</td>
            <td>
              <a [routerLink]="['/gerente/visualizar-detalhes-cliente', item.clienteUuid]">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </a>
              <a [routerLink]="['/gerente/editar-cliente', item.clienteUuid]">
                <i class="fa fa-user-edit" aria-hidden="true"></i>
              </a>              
              <a (click)="didTapOnDelete(item.clienteUuid)" (click)="alterarStatusLoginCliente(item.login.loginUuid)">
                <i class="fa fa-trash-alt" aria-hidden="true"></i>
              </a>  
            </td>
          </tr>
        </tbody>
      </table>
      <div class="ctn-btn d-flex justify-content-evenly mt-5">
        <a [routerLink]="['/gerente/manter-cliente']">Cadastrar Cliente</a>
      </div>
    </div>
  </div>
</div>
