# Arquivos e diretórios gerados pelo Visual Studio
.vs/
bin/
obj/

# Arquivos de compilação
*.dll
*.exe
*.pdb
*.dll.config
*.exe.config
*.log

# Diretório NuGet
packages/

# Diretório de publicação
_publish/

# Diretório de dependências
.deps/

# Arquivos gerados pelo MSBuild
*.swp
*.user
*.vspscc
*.vssscc
*.suo
*.cache
*.csproj.user
*.obj
*.jfm
*.pfx
*.publishsettings
node_modules/
npm-debug.log
bower_components/

# Arquivos de cache do Entity Framework
*.edmx.diagram
*.ssdl
*.mdf
*.ldf

# Logs
*.log
*.stackdump

# Outros arquivos e diretórios
[Dd]ebug/
[Rr]elease/
*.sln.docstates
*.bak
*.cache
*.bak
*.userprefs
Thumbs.db
.vscode/
*.suo
*.sln.ide
*.sln.ide-shm
*.sln.ide-wal

# Arquivos temporários
*.tmp
*.swp
*~
