<div class="visualizar-estoque-conteineres container-fluid mt-4 mb-4">
    <div class="container-content p-4">
      <h1 class="mb-4">Estoque de Contêineres</h1>
  
      <div [ngSwitch]="statusMsg">
        <div *ngSwitchCase="'success'">
          <div class="alert alert-success alert-dismissible fade show mb-5" role="alert">
            Exclusão realizada com sucesso!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
        <div *ngSwitchCase="'fail'">
          <div class="alert alert-danger alert-dismissible fade show mb-5" role="alert">
            Só é possível excluir um contêiner que não possua aluguéis em andamento!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table align-middle text-center">
          <thead class="table-light">
            <tr>
              <th [appSort]="conteinerData" data-order="desc" data-name="codigo">Cód <i class="fa fa-sort" aria-hidden="true"></i></th>
              <th [appSort]="conteinerData" data-order="desc" data-name="categoriaConteiner.nome">Categoria <i class="fa fa-sort" aria-hidden="true"></i></th>
              <th [appSort]="conteinerData" data-order="desc" data-name="tipoConteiner.nome">Tipo <i class="fa fa-sort" aria-hidden="true"></i></th>
              <th [appSort]="conteinerData" data-order="desc" data-name="estado">Estado <i class="fa fa-sort" aria-hidden="true"></i></th>
              <th>Opções</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of conteinerData">
              <td>#{{ item.codigo }}</td>
              <td>{{ item.categoriaConteiner.nome! | capitalizacaoGerente }}</td>
              <td>{{ item.tipoConteiner.nome! | capitalizacaoGerente }}</td>
              <td>{{ item.estado }}</td>
              <td>
                <a [routerLink]="['/gerente/manter-prestacao-servico', item.conteinerUuid]" alt="Cadastrar Prestação de Serviço" title="Cadastrar Prestação de Serviço">
                  <i class="fa fa-hammer" aria-hidden="true"></i>
                </a>
                <a [routerLink]="['/gerente/visualizar-conteiner', item.conteinerUuid]" alt="Visualizar Detalhes" title="Visualizar Detalhes">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <a [routerLink]="['/gerente/editar-conteiner', item.conteinerUuid]" alt="Editar" title="Editar">
                  <i class="fa fa-user-edit" aria-hidden="true"></i>
                </a>     
                <a (click)="didTapOnDelete(item.conteinerUuid, item.codigo)">
                  <i class="fa fa-trash-alt" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="ctn-btn d-flex justify-content-evenly mt-5">
        <a [routerLink]="['/gerente/manter-conteiner']">Cadastrar Contêiner</a>
      </div>
    </div>
  </div>
  