<div class="visualizar-estoque-conteineres container-fluid mt-4 mb-4">
    <div class="container-content p-4">
      <h1 class="mb-4">Estoque de Contêineres</h1>
  
      <div class="table-responsive">
        <table class="table align-middle text-center">
          <thead class="table-light">
            <tr>
              <th [appSort]="conteinerData" data-order="desc" data-name="categoria">Categoria <i class="fa fa-sort" aria-hidden="true"></i></th>
              <th [appSort]="conteinerData" data-order="desc" data-name="tipo">Tipo <i class="fa fa-sort" aria-hidden="true"></i></th>
              <th [appSort]="conteinerData" data-order="desc" data-name="status">Status <i class="fa fa-sort" aria-hidden="true"></i></th>
              <th [appSort]="conteinerData" data-order="desc" data-name="dataSaida">Data de Saída <i class="fa fa-sort" aria-hidden="true"></i></th>
              <th [appSort]="conteinerData" data-order="desc" data-name="dataDevolucao">Data de Devolução <i class="fa fa-sort" aria-hidden="true"></i></th>
              <th [appSort]="conteinerData" data-order="desc" data-name="cliente">Cliente <i class="fa fa-sort" aria-hidden="true"></i></th>
              <th>Opções</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of conteinerData">
              <td>{{ item.categoriaConteiner.nome }}</td>
              <td>{{ item.tipoConteiner.nome }}</td>
              <td>{{ item.status }}</td>
              <td>{{ item.dataSaida }}</td>
              <td>{{ item.dataDevolucao }}</td>
              <td>{{ item.cliente }}</td>
              <td>
                <a [routerLink]="['/gerente/editar-terceirizado', item.conteinerUuid]" alt="Histórico de aluguéis" title="Histórico de aluguéis">
                  <i class="fa fa-align-justify" aria-hidden="true"></i>
                </a>
                <a [routerLink]="['/gerente/visualizar-conteiner', item.conteinerUuid]" alt="Visualizar Detalhes" title="Visualizar Detalhes">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <a [routerLink]="['/gerente/editar-conteiner', item.conteinerUuid]" alt="Editar" title="Editar">
                  <i class="fa fa-user-edit" aria-hidden="true"></i>
                </a>
                <a [routerLink]="['/gerente/editar-terceirizado', item.conteinerUuid]" alt="Excluir" title="Excluir">
                  <i class="fa fa-trash-alt" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="ctn-btn d-flex justify-content-evenly mt-5">
        <a [routerLink]="['/gerente/manter-conteiner']">Cadastrar Contêiner</a>
      </div>
    </div>
  </div>
  