<div class="historico-alugueis container-fluid">
  <h3>Histórico de Aluguéis</h3>

  <div class="table-responsive">
    <table class="table align-middle text-center table-bordered">
      <thead class="table-light">
        <tr>
          <th>Cód</th>
          <th>Início</th>
          <th>Fim</th>
          <th>Valor</th>
          <th>Finalizado</th>
          <th>Pagamento atrasado</th>
          <th>Devolução atrasada</th>
          <th>Ver</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>#13</td>
          <td>03/01/2023</td>
          <td>03/05/2023</td>
          <td>R$550,00</td>
          <td>Não</td>
          <td>Sim</td>
          <td>Não</td>
          <td>
            <a href="#">
              <i class="fa fa-eye" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
        <tr>
          <td>#13</td>
          <td>03/01/2023</td>
          <td>03/05/2023</td>
          <td>R$550,00</td>
          <td>Não</td>
          <td>Sim</td>
          <td>Não</td>
          <td>
            <a href="#">
              <i class="fa fa-eye" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
        <tr>
          <td>#13</td>
          <td>03/01/2023</td>
          <td>03/05/2023</td>
          <td>R$550,00</td>
          <td>Não</td>
          <td>Sim</td>
          <td>Não</td>
          <td>
            <a href="#">
              <i class="fa fa-eye" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
        <tr>
          <td>#13</td>
          <td>03/01/2023</td>
          <td>03/05/2023</td>
          <td>R$550,00</td>
          <td>Não</td>
          <td>Sim</td>
          <td>Não</td>
          <td>
            <a href="#">
              <i class="fa fa-eye" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
