<div class="historico-alugueis container-fluid mt-4 mb-4">
  <div class="container-content p-4">
    <h4>Histórico de Aluguéis</h4>

    <div class="table-responsive">
      <table class="table align-middle text-center">
        <thead class="table-light">
          <tr>
            <th>Cód</th>
            <th>Início</th>
            <th>Fim</th>
            <th>Valor</th>
            <th>Finalizado</th>
            <th>Pagamento atrasado</th>
            <th>Devolução atrasada</th>
            <th>Ver</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>#133</td>
            <td>03/01/2023</td>
            <td>03/05/2023</td>
            <td>R$4.100,00</td>
            <td>Não</td>
            <td>Sim</td>
            <td>Não</td>
            <td>
              <a routerLink="/cliente/detalhes-aluguel" href="#">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>#133</td>
            <td>03/01/2023</td>
            <td>03/05/2023</td>
            <td>R$4.100,00</td>
            <td>Não</td>
            <td>Sim</td>
            <td>Não</td>
            <td>
              <a routerLink="/cliente/detalhes-aluguel" href="#">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>#133</td>
            <td>03/01/2023</td>
            <td>03/05/2023</td>
            <td>R$4.100,00</td>
            <td>Não</td>
            <td>Sim</td>
            <td>Não</td>
            <td>
              <a routerLink="/cliente/detalhes-aluguel" href="#">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>#133</td>
            <td>03/01/2023</td>
            <td>03/05/2023</td>
            <td>R$4.100,00</td>
            <td>Não</td>
            <td>Sim</td>
            <td>Não</td>
            <td>
              <a routerLink="/cliente/detalhes-aluguel" href="#">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>#133</td>
            <td>03/01/2023</td>
            <td>03/05/2023</td>
            <td>R$4.100,00</td>
            <td>Não</td>
            <td>Sim</td>
            <td>Não</td>
            <td>
              <a routerLink="/cliente/detalhes-aluguel" href="#">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>#133</td>
            <td>03/01/2023</td>
            <td>03/05/2023</td>
            <td>R$4.100,00</td>
            <td>Não</td>
            <td>Sim</td>
            <td>Não</td>
            <td>
              <a routerLink="/cliente/detalhes-aluguel" href="#">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>#133</td>
            <td>03/01/2023</td>
            <td>03/05/2023</td>
            <td>R$4.100,00</td>
            <td>Não</td>
            <td>Sim</td>
            <td>Não</td>
            <td>
              <a routerLink="/cliente/detalhes-aluguel" href="#">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>#133</td>
            <td>03/01/2023</td>
            <td>03/05/2023</td>
            <td>R$4.100,00</td>
            <td>Não</td>
            <td>Sim</td>
            <td>Não</td>
            <td>
              <a routerLink="/cliente/detalhes-aluguel" href="#">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>#133</td>
            <td>03/01/2023</td>
            <td>03/05/2023</td>
            <td>R$4.100,00</td>
            <td>Não</td>
            <td>Sim</td>
            <td>Não</td>
            <td>
              <a routerLink="/cliente/detalhes-aluguel" href="#">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>#133</td>
            <td>03/01/2023</td>
            <td>03/05/2023</td>
            <td>R$4.100,00</td>
            <td>Não</td>
            <td>Sim</td>
            <td>Não</td>
            <td>
              <a routerLink="/cliente/detalhes-aluguel" href="#">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>#133</td>
            <td>03/01/2023</td>
            <td>03/05/2023</td>
            <td>R$4.100,00</td>
            <td>Não</td>
            <td>Sim</td>
            <td>Não</td>
            <td>
              <a routerLink="/cliente/detalhes-aluguel" href="#">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>#133</td>
            <td>03/01/2023</td>
            <td>03/05/2023</td>
            <td>R$4.100,00</td>
            <td>Não</td>
            <td>Sim</td>
            <td>Não</td>
            <td>
              <a routerLink="/cliente/detalhes-aluguel" href="#">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>#133</td>
            <td>03/01/2023</td>
            <td>03/05/2023</td>
            <td>R$4.100,00</td>
            <td>Não</td>
            <td>Sim</td>
            <td>Não</td>
            <td>
              <a routerLink="/cliente/detalhes-aluguel" href="#">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>#133</td>
            <td>03/01/2023</td>
            <td>03/05/2023</td>
            <td>R$4.100,00</td>
            <td>Não</td>
            <td>Sim</td>
            <td>Não</td>
            <td>
              <a routerLink="/cliente/detalhes-aluguel" href="#">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>#133</td>
            <td>03/01/2023</td>
            <td>03/05/2023</td>
            <td>R$4.100,00</td>
            <td>Não</td>
            <td>Sim</td>
            <td>Não</td>
            <td>
              <a routerLink="/cliente/detalhes-aluguel" href="#">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>#133</td>
            <td>03/01/2023</td>
            <td>03/05/2023</td>
            <td>R$4.100,00</td>
            <td>Não</td>
            <td>Sim</td>
            <td>Não</td>
            <td>
              <a routerLink="/cliente/detalhes-aluguel" href="#">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>#133</td>
            <td>03/01/2023</td>
            <td>03/05/2023</td>
            <td>R$4.100,00</td>
            <td>Não</td>
            <td>Sim</td>
            <td>Não</td>
            <td>
              <a routerLink="/cliente/detalhes-aluguel" href="#">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>#133</td>
            <td>03/01/2023</td>
            <td>03/05/2023</td>
            <td>R$4.100,00</td>
            <td>Não</td>
            <td>Sim</td>
            <td>Não</td>
            <td>
              <a routerLink="/cliente/detalhes-aluguel" href="#">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>#133</td>
            <td>03/01/2023</td>
            <td>03/05/2023</td>
            <td>R$4.100,00</td>
            <td>Não</td>
            <td>Sim</td>
            <td>Não</td>
            <td>
              <a routerLink="/cliente/detalhes-aluguel" href="#">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>#133</td>
            <td>03/01/2023</td>
            <td>03/05/2023</td>
            <td>R$4.100,00</td>
            <td>Não</td>
            <td>Sim</td>
            <td>Não</td>
            <td>
              <a routerLink="/cliente/detalhes-aluguel" href="#">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
