<div class="visualizar-detalhes-cliente container-fluid mt-4 mb-4">
  <!--<div *ngFor="let item of clienteData.content">
    <div *ngIf="item.id == clienteId">-->
  <div class="container-content mb-4 p-4">
    <h1>Visualizar Detalhes do Cliente</h1>

    <div class="line mb-5"></div>

    <div class="mb-3">
      <p class="title">Dados cadastrais</p>
      <div class="content d-flex justify-content-start ms-3">
        <form class="row g-3">
          <div class="col-md-6">
            <label for="inputFirstName" class="form-label">Nome</label>
            <p class="form-control"> Letícia </p>
          </div>
          <div class="col-md-6">
            <label for="inputSurname" class="form-label">Sobrenome</label>
            <p class="form-control">das Chagas Lima</p>
          </div>
          <div class="col-md-6">
            <label for="inputBirthDate" class="form-label">Data de Nascimento</label>
            <p class="form-control">03/09/1995</p>
          </div>
          <div class="col-md-6">
            <label for="inputCpf" class="form-label">CPF</label>
            <p class="form-control">058.954.785-88</p>
          </div>
          <div class="col-md-6">
            <label for="inputPhone" class="form-label">Telefone</label>
            <p class="form-control">(41) 9 9891-7792</p>
          </div>
          <div class="col-md-6">
            <label for="inputEmail" class="form-label">Email</label>
            <p class="form-control">polaris@gmail.com</p>
          </div>

          <div class="col-md-4">
            <label for="inputZipCode" class="form-label">CEP</label>
            <p class="form-control">85854-964</p>
          </div>
          <div class="col-md-4">
            <label for="inputState" class="form-label">Estado</label>
            <p class="form-control">Estado</p>
          </div>
          <div class="col-md-4">
            <label for="inputCity" class="form-label">Cidade</label>
            <p class="form-control">Curitiba</p>
          </div>
          <div class="col-6">
            <label for="inputAddress" class="form-label">Endereço</label>
            <p class="form-control">Rua Adir Dalabona</p>
          </div>
          <div class="col-3">
            <label for="inputNumber" class="form-label">Número</label>
            <p class="form-control">341</p>
          </div>
          <div class="col-3 mb-3">
            <label for="inputComplemento" class="form-label">Complemento</label>
            <p class="form-control">Casa 2</p>
          </div>
          
          <div class="ctn-btn d-flex justify-content-evenly mt-5">
            <a href="#">Ver Histórico de Aluguéis</a>
            <a href="/gerente/visualizar-clientes">Voltar</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>