<div class="visualizar-detalhes-cliente container-fluid mt-4 mb-4">
  <div *ngFor="let item of clienteData">
    <div *ngIf="item.clienteUuid == clienteUuid">
      <div class="container-content mb-4 p-4">
        <h1>Visualizar Detalhes do Cliente</h1>

        <div class="line mb-5"></div>

        <div class="mb-3">
          <p class="title">Dados cadastrais</p>
          <div class="content d-flex justify-content-start ms-3">
            <form class="row g-3">
              <div class="col-md-6">
                <label for="inputNome" class="form-label">Nome</label>
                <p class="form-control"> {{ item.nome! | capitalizacaoGerente }} </p>
              </div>
              <div class="col-md-6">
                <label for="inputSobrenome" class="form-label">Sobrenome</label>
                <p class="form-control"> {{ item.sobrenome! | capitalizacaoGerente }} </p>
              </div>
              <div class="col-md-6">
                <label for="inputDataNascimento" class="form-label">Data de Nascimento</label>
                <p class="form-control"> {{ item.dataNascimento | dateGerente }} </p>
              </div>
              <div class="col-md-6">
                <label for="inputCpf" class="form-label">CPF</label>
                <p class="form-control"> {{ item.cpf | cpfGerente }} </p>
              </div>
              <div class="col-md-6">
                <label for="inputTelefone" class="form-label">Telefone</label>
                <p class="form-control"> {{ item.telefone | phoneGerente }} </p>
              </div>
              <div class="col-md-6">
                <label for="inputEmail" class="form-label">Email</label>
                <p class="form-control"> {{ item.email! | capitalizacaoGerente }} </p>
              </div>

              <div class="col-md-4">
                <label for="inputCep" class="form-label">CEP</label>
                <p class="form-control"> {{ item.endereco.cep | cepGerente }} </p>
              </div>
              <div class="col-md-4">
                <label for="inputEstado" class="form-label">Estado</label>
                <p class="form-control"> {{ item.endereco.estado }} </p>
              </div>
              <div class="col-md-4">
                <label for="inputCidade" class="form-label">Cidade</label>
                <p class="form-control"> {{ item.endereco.cidade! | capitalizacaoGerente }} </p>
              </div>
              <div class="col-md-6">
                <label for="inputEndereco" class="form-label">Endereço</label>
                <p class="form-control"> {{ item.endereco.logradouro! | capitalizacaoGerente }} </p>
              </div>
              <div class="col-md-3">
                <label for="inputNumero" class="form-label">Número</label>
                <p class="form-control"> {{ item.endereco.numero }} </p>
              </div>
              <div class="col-md-3 mb-3">
                <label for="inputComplemento" class="form-label">Complemento</label>
                <p class="form-control"> {{ item.endereco.complemento! | capitalizacaoGerente }} </p>
              </div> 
              
              <div class="ctn-btn d-flex justify-content-evenly mt-5">
                <a [routerLink]="['/gerente/visualizar-historico-cliente', item.cpf]">Ver Histórico de Aluguéis</a>
                <a [routerLink]="['/gerente/visualizar-clientes']">Voltar</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>