<div class="manter-tipo container-fluid mt-4 mb-4">
  <div class="container-content mb-4 p-4">
    <h1>Cadastrar Novo Tipo de Contêiner</h1>

    <div class="line mb-5"></div>
    
    <div [ngSwitch]="statusMsg">
      <div *ngSwitchCase="'success'">
        <div class="alert alert-success alert-dismissible fade show mb-5" role="alert">
          Cadastro realizado com sucesso!
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
      <div *ngSwitchCase="'fail'">
        <div class="alert alert-danger alert-dismissible fade show mb-5" role="alert">
          Falha ao cadastrar, confira os dados e tente novamente.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
    </div>
    
    <div class="mb-3">
      <p class="title">Dados cadastrais</p>
      <div class="content d-flex ms-3">
        <form class="row g-3" #formTipo="ngForm" (ngSubmit)="cadastrar()">
          <div class="col-md-4">
            <label for="inputTipo" class="form-label">Tipo</label>
            <input type="text" class="form-control" id="inputTipo" placeholder="Pequeno, Médio, Grande..." [(ngModel)]="tipo.nome" name="nome"#nome="ngModel" required>
            <div *ngIf="nome.errors && (nome.dirty || nome.touched)" class="alert alert-danger">
              <div [hidden]="!nome.errors?.['required']">Digite o nome do tipo.</div>
            </div>
          </div>
          <div class="col-md-4">
            <label for="inputValorDiaria" class="form-label">Valor por Diária</label>
            <input type="text" class="form-control" id="inputValorDiaria" value="R$ " [(ngModel)]="tipo.valorDiaria" mask="separator.2" prefix="R$" thousandSeparator="." decimalSeparator="," [allowNegativeNumbers]="false" name="valorDiaria" #valorDiaria="ngModel" required>
            <div *ngIf="valorDiaria.errors && (valorDiaria.dirty || valorDiaria.touched)" class="alert alert-danger">
              <div [hidden]="!valorDiaria.errors?.['required']">Digite o valor da diária.</div>
            </div>
          </div>
          <div class="col-md-4">
            <label for="inputPesoMaximo" class="form-label">Peso Máximo</label>
            <input type="number" class="form-control" id="inputPesoMaximo" [(ngModel)]="tipo.pesoMaximo" name="pesoMaximo"  #pesoMaximo="ngModel" required>
            <div *ngIf="pesoMaximo.errors && (pesoMaximo.dirty || pesoMaximo.touched)" class="alert alert-danger">
              <div [hidden]="!pesoMaximo.errors?.['required']">Digite o peso máximo.</div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="inputComprimento" class="form-label">Comprimento</label>
            <input type="number" class="form-control" id="inputComprimento" [(ngModel)]="tipo.comprimento" name="comprimento"  #comprimento="ngModel" required>
            <div *ngIf="comprimento.errors && (comprimento.dirty || comprimento.touched)" class="alert alert-danger">
              <div [hidden]="!comprimento.errors?.['required']">Digite o comprimento.</div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="inputLargura" class="form-label">Largura</label>
            <input type="number" class="form-control" id="inputLargura" [(ngModel)]="tipo.largura" name="largura" #largura="ngModel" required>
            <div *ngIf="largura.errors && (largura.dirty || largura.touched)" class="alert alert-danger">
              <div [hidden]="!largura.errors?.['required']">Digite a largura.</div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="inputAltura" class="form-label">Altura</label>
            <input type="number" class="form-control" id="inputAltura" [(ngModel)]="tipo.altura" name="altura"  #altura="ngModel" required>
            <div *ngIf="altura.errors && (altura.dirty || altura.touched)" class="alert alert-danger">
              <div [hidden]="!altura.errors?.['required']">Digite a altura.</div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="inputVolume" class="form-label">Volume</label>
            <input type="number" class="form-control" id="inputVolume" [(ngModel)]="tipo.volume" name="volume"  #volume="ngModel" required>
            <div *ngIf="volume.errors && (volume.dirty || volume.touched)" class="alert alert-danger">
              <div [hidden]="!volume.errors?.['required']">Digite o volume.</div>
            </div>
          </div>
          
          <div class="ctn-btn d-flex justify-content-evenly mt-5">
            <button type="submit">Cadastrar</button>
            <a [routerLink]="['/gerente/visualizar-tipos']">Voltar</a>
          </div>
        </form>
      </div>
    </div>  
</div>