<div class="d-flex" id="wrapper">
  <div class="sidebar-wrapper" [ngClass]="status ? 'hide' : 'show'">
    <div class="sidebar-heading">
      <a id="link-home" href="#" routerLink="/cliente">
        <img class="logo" loading="lazy" class="lozad" src="../assets/images/png/polaris-high-resolution-logo-white-on-transparent-background.png" alt="Logo Polaris" title="Logo Polaris" data-loaded="true">
      </a>
    </div>

    <!-- Menu Cliente
    <ul class="list-group list-group-flush">
      <li class="mb-3"><a href="#" routerLink="/cliente">Home</a></li>
      <li class="container-logout"><a href="#"><button type="button" class="btn">Logout</button></a></li>
    </ul>  -->

    <!-- Menu funcionário -->
    <ul class="list-group list-group-flush">
      <li class="mb-3"><a href="#">Home</a></li>
      <li class=" mb-3"><a href="#">Dashboard</a></li>

      <li><a href="#">Aluguel</a></li>
      <li class="ms-4"><a href="#">Novo Aluguel</a></li>
      <li class="ms-4 mb-3"><a href="#">Visualizar Aluguéis</a></li>
      
      <li><a href="/gerente/visualizar-clientes">Cliente</a></li>
      <li class="ms-4"><a href="/gerente/manter-cliente">Cadastro</a></li>
      <li class="ms-4 mb-3"><a href="/gerente/visualizar-clientes">Visualizar Clientes</a></li>

      <li><a href="#">Contêiner</a></li>
      <li class="ms-4"><a href="#">Cadastro</a></li>
      <li class="ms-4 mb-3"><a href="#">Estoque</a></li>
      
      <li><a href="/gerente/visualizar-categorias">Categorias e Tipos</a></li>
      <li class="ms-4"><a href="/gerente/visualizar-categorias">Visualizar Categorias</a></li>
      <li class="ms-4 mb-3"><a href="/gerente/visualizar-tipos">Visualizar Tipos</a></li>

      <li><a href="/gerente/visualizar-terceirizados">Terceirizados</a></li>
      <li class="ms-4"><a href="/gerente/manter-terceirizado">Cadastro</a></li>
      <li class="ms-4 mb-3"><a href="/gerente/visualizar-terceirizados">Visualizar Terceirizados</a></li>

      <li class="container-logout"><a href="#"><button type="button" class="btn">Logout</button></a></li>
    </ul>
  </div>

  <div class="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="menu-toogle" (click)="clickEvent()"><i class="fa fa-bars me-3" aria-hidden="true"></i>Menu</a>
        <p class="text-center">Sistema de Gerenciamento de Aluguéis de Contêineres</p>
        <a id="link-home" href="#" routerLink="/cliente">
          <img class="logo" loading="lazy" class="lozad me-4" src="../assets/images/png/polaris-high-resolution-logo-white-on-transparent-background.png" alt="Logo Polaris" title="Logo Polaris" data-loaded="true">
        </a>
      </div>      
    </nav>
    <div class="ms-3 me-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
