<div class="d-flex" id="wrapper">
  <div class="sidebar-wrapper" [ngClass]="status ? 'hide' : 'show'">
    <div class="sidebar-heading">
      <a id="link-home" [routerLink]="['/cliente']">
        <img class="logo" loading="lazy" class="lozad" src="../assets/images/png/polaris-high-resolution-logo-white-on-transparent-background.png" alt="Logo Polaris" title="Logo Polaris" data-loaded="true">
      </a>
    </div>

    <ul class="list-group list-group-flush">
      <li class="mb-3"><a [routerLink]="['/sistema']">Home</a></li>
      
      <li *ngIf="perfil === 'cliente'" class="mb-3"><a [routerLink]="['/cliente/visualizar-aluguel']">Visualizar Aluguéis</a></li>
      <li *ngIf="perfil === 'cliente'" class="mb-3"><a [routerLink]="['/cliente/alterar-senha']">Alterar Senha</a></li>
      
      <li *ngIf="perfil === 'gerente'" class="mb-3"><a [routerLink]="['/gerente/dashboard']">Dashboard</a></li>
      
      <li *ngIf="perfil === 'gerente'"><a [routerLink]="['/gerente/manter-aluguel']">Aluguel</a></li>
      <li *ngIf="perfil === 'gerente'" class="ms-4"><a [routerLink]="['/gerente/manter-aluguel']">Novo Aluguel</a></li>
      <li *ngIf="perfil === 'gerente'" class="ms-4 mb-3"><a  [routerLink]="['/gerente/visualizar-historico-alugueis']">Visualizar Aluguéis</a></li>
      
      <li *ngIf="perfil === 'gerente'"><a [routerLink]="['/gerente/visualizar-clientes']">Clientes</a></li>
      <li *ngIf="perfil === 'gerente'" class="ms-4"><a [routerLink]="['/gerente/manter-cliente']">Cadastro</a></li>
      <li *ngIf="perfil === 'gerente'" class="ms-4 mb-3"><a [routerLink]="['/gerente/visualizar-clientes']">Visualizar Clientes</a></li>

      <li *ngIf="perfil === 'gerente'"><a [routerLink]="['gerente/visualizar-estoque-conteineres']">Contêineres</a></li>
      <li *ngIf="perfil === 'gerente'" class="ms-4"><a [routerLink]="['/gerente/manter-conteiner']">Cadastro</a></li>
      <li *ngIf="perfil === 'gerente'" class="ms-4 mb-3"><a  [routerLink]="['gerente/visualizar-estoque-conteineres']">Estoque</a></li>
      
      <li *ngIf="perfil === 'gerente'"><a [routerLink]="['/gerente/visualizar-categorias']">Categorias e Tipos</a></li>
      <li *ngIf="perfil === 'gerente'" class="ms-4"><a [routerLink]="['/gerente/visualizar-categorias']">Visualizar Categorias</a></li>
      <li *ngIf="perfil === 'gerente'" class="ms-4 mb-3"><a [routerLink]="['/gerente/visualizar-tipos']">Visualizar Tipos</a></li>

      <li *ngIf="perfil === 'gerente'"><a [routerLink]="['/gerente/visualizar-terceirizados']">Terceirizados</a></li>
      <li *ngIf="perfil === 'gerente'" class="ms-4"><a [routerLink]="['/gerente/manter-terceirizado']">Cadastro</a></li>
      <li *ngIf="perfil === 'gerente'" class="ms-4"><a [routerLink]="['/gerente/visualizar-terceirizados']">Visualizar Terceirizados</a></li>
      <li *ngIf="perfil === 'gerente'" class="ms-4"><a [routerLink]="['/gerente/visualizar-servicos']">Visualizar Serviços</a></li>
           
      <li *ngIf="perfil" class="container-logout"><a href="#"><button #logoutBtn type="button" class="btn" (click)="deleteFromLocalStorage()">Sair</button></a></li>
      <li *ngIf="!perfil" class="container-logout"><a href="#"><button class="btn" [routerLink]="['/sistema']">Entrar</button></a></li>
    </ul>
  </div>

  <div class="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="menu-toogle" (click)="clickEvent()"><i class="fa fa-bars me-3" aria-hidden="true"></i>Menu</a>
        <p class="text-center">Sistema de Gerenciamento de Aluguéis de Contêineres</p>
        <a id="link-home" [routerLink]="['/cliente']">
          <img class="logo" loading="lazy" class="lozad me-4" src="../assets/images/png/polaris-high-resolution-logo-white-on-transparent-background.png" alt="Logo Polaris" title="Logo Polaris" data-loaded="true">
        </a>
      </div>      
    </nav>
    <div class="ms-3 me-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
