<div class="visualizar-tipos container-fluid mt-4 mb-4">
  <div class="container-content p-4">
    <h1 class="mb-4">Tipos de Contêineres Cadastrados</h1>

    <div class="table-responsive">
      <table class="table align-middle text-center">
        <thead class="table-light">
          <tr>
            <th [appSort]="tipoData" data-order="desc" data-name="nome">Tipo <i class="fa fa-sort" aria-hidden="true"></i></th>
            <th [appSort]="tipoData" data-order="desc" data-name="dimensoes">Dimensões (CxAxL) <i class="fa fa-sort" aria-hidden="true"></i></th>
            <th [appSort]="tipoData" data-order="desc" data-name="volume">Volume <i class="fa fa-sort" aria-hidden="true"></i></th>
            <th [appSort]="tipoData" data-order="desc" data-name="pesoMaximo">Peso Máximo <i class="fa fa-sort" aria-hidden="true"></i></th>
            <th [appSort]="tipoData" data-order="desc" data-name="valorDiaria">Diária <i class="fa fa-sort" aria-hidden="true"></i></th>
            <th>Opções</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tipoData">
            <td>{{ item.nome! | capitalizacaoGerente }}</td>
            <td>{{ item.comprimento }}x{{ item.altura }}x{{ item.largura }}m</td>
            <td>{{ item.volume }}m³</td>
            <td>{{ item.pesoMaximo }}kg</td>
            <td>{{ item.valorDiaria! | currency }}</td>
            <td>
              <a  [routerLink]="['/gerente/editar-tipo', item.tipoConteinerUuid]">
                <i class="fa fa-user-edit" aria-hidden="true"></i>
              </a>              
              <a (click)="didTapOnDelete(item.tipoConteinerUuid)">
                <i class="fa fa-trash-alt" aria-hidden="true"></i>
              </a>   
            </td>
          </tr>
        </tbody>
      </table>
      <div class="ctn-btn d-flex justify-content-evenly mt-5">
        <a  [routerLink]="['/gerente/manter-tipo']">Adicionar Tipo</a>
      </div>
    </div>
  </div>
</div>
