<div class="editar-cliente container-fluid mt-4 mb-4">
  <div *ngFor="let item of clienteData">
    <div *ngIf="item.clienteUuid == clienteUuid">
      <div class="container-content mb-4 p-4">
        <h1>Editar Cliente</h1>

        <div class="line mb-5"></div>
        
        <div [ngSwitch]="statusMsg">
          <div *ngSwitchCase="'success'">
            <div class="alert alert-success alert-dismissible fade show mb-5" role="alert">
              Edição realizada com sucesso!
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
          <div *ngSwitchCase="'fail'">
            <div class="alert alert-danger alert-dismissible fade show mb-5" role="alert">
              Falha ao editar, confira os dados e tente novamente.
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <p class="title">Dados cadastrais</p>
          <div class="content d-flex ms-3">
            <form class="row g-3" #formCliente="ngForm" (ngSubmit)="editar()">
              <div class="col-md-6">
                <label for="inputNome" class="form-label">Nome</label>
                <input type="text" class="form-control" id="inputNome" name="nome" [(ngModel)]="cliente.nome" #nome="ngModel" required>
                <div *ngIf="nome.errors && (nome.dirty || nome.touched)" class="alert alert-danger">
                  <div [hidden]="!nome.errors?.['required']">Digite o nome.</div>
                </div>
              </div>
              <div class="col-md-6">
                <label for="inputSobrenome" class="form-label">Sobrenome</label>
                <input type="text" class="form-control" id="inputSobrenome" name="sobrenome" [(ngModel)]="cliente.sobrenome" #sobrenome="ngModel" required>
                <div *ngIf="sobrenome.errors && (sobrenome.dirty || sobrenome.touched)" class="alert alert-danger">
                  <div [hidden]="!sobrenome.errors?.['required']">Digite o sobrenome.</div>
                </div>
              </div>
              <div class="col-md-6">
            <label for="inputDataNascimento" class="form-label">Data de Nascimento</label>
            <div class="input-group mb-6">
              <input class="form-control" placeholder={{dataVar}} id="inputDataNascimento" [(ngModel)]="dataVar"
                name="dataNascimento" (ngModelChange)="valuechange($event)" ngbDatepicker [footerTemplate]="footerTemplate" #d="ngbDatepicker" readonly/>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button"><i
                    class="fa-solid fa-calendar"></i></button>
                <ng-template #footerTemplate>
                  <hr class="my-0" />
                  <button class="btn btn-secondary btn-sm m-2 float-end" (click)="d.close()">Close</button>
                </ng-template>
              </div>
            </div>
            <!--<div *ngIf="dataVar=='dd-mm-aaaa'" class="alert alert-danger">
              Preencha a data
            </div>-->
          </div>
              <div class="col-md-6">
                <label for="inputCpf" class="form-label">CPF</label>
                <p class="form-control disabled"> {{ item.cpf | cpfGerente }} </p>
              </div>
              <div class="col-md-6">
                <label for="inputTelefone" class="form-label">Telefone</label>
                <input type="tel" class="form-control" id="inputTelefone" name="telefone" [(ngModel)]="cliente.telefone" #telefone="ngModel" required mask="(00) 00000-0000">
                <div *ngIf="telefone.errors && (telefone.dirty || telefone.touched)">
                  <div class="alert alert-danger" [hidden]="!telefone.errors?.['required']">Digite o telefone.</div>
                </div>
              </div>
              <div class="col-md-6">
                <label for="inputEmail" class="form-label">Email</label>
                <p class="form-control disabled"> {{ item.email! | capitalizacaoGerente }} </p>
              </div>
        
              <div class="col-md-4">
                <label for="inputCep" class="form-label">CEP</label>
                <input type="text" class="form-control" id="inputCep" name="cep" [(ngModel)]="cliente.endereco.cep" #cep="ngModel" required mask='00000-000'>
                <div *ngIf="cep.errors && (cep.dirty || cep.touched)" class="alert alert-danger">
                  Digite um CEP válido.
                </div>
                <div [hidden]="!cep.errors?.['required']">Digite o CEP.</div>
              </div>
              <div class="col-md-4">
                <label for="inputEstado" class="form-label">Estado</label>
                <input type="text" class="form-control" id="inputEstado" name="estado" [(ngModel)]="cliente.endereco.estado" #estado="ngModel">

              </div>
              <div class="col-md-4">
                <label for="inputCidade" class="form-label">Cidade</label>
                <input type="text" class="form-control" id="inputCidade" name="cidade" [(ngModel)]="cliente.endereco.cidade" #cidade="ngModel">
              </div>
              <div class="col-md-6">
                <label for="inputEndereco" class="form-label">Endereço</label>
                <input type="text" class="form-control" id="inputEndereco" placeholder="Rua Martin Afonso" name="logradouro" [(ngModel)]="cliente.endereco.logradouro" #logradouro="ngModel">
              </div>
              <div class="col-md-3">
                <label for="inputNumero" class="form-label">Número</label>
                <input type="number" class="form-control" id="inputNumero" placeholder="123" name="numero" [(ngModel)]="cliente.endereco.numero" #numero="ngModel" required>
                <div *ngIf="numero.errors && (numero.dirty || numero.touched)" class="alert alert-danger">
                  <div [hidden]="!numero.errors?.['required']">Digite um número.</div>
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="inputComplemento" class="form-label">Complemento</label>
                <input type="text" class="form-control" id="inputComplemento" placeholder="Casa 2" name="complemento" [(ngModel)]="cliente.endereco.complemento" #complemento="ngModel">
              </div>

              <div class="ctn-btn d-flex justify-content-evenly mt-5">
                <button type="submit">Salvar Alterações</button>
                <a [routerLink]="['/gerente/visualizar-clientes']">Voltar</a>
              </div>
            </form>
          </div>
        </div> 
      </div> 
    </div>  
  </div> 
</div>