<div class="editar-disponibilidade-conteiner container-fluid mt-4 mb-4">
  <div *ngFor="let item of conteinerData">
    <div *ngIf="item.conteinerUuid == conteinerUuid">
      <div class="container-content mb-4 p-4">
        <h1>Editar Disponibilidade do Contêiner</h1>

        <div class="line mb-5"></div>
        
        <div [ngSwitch]="statusMsg">
          <div *ngSwitchCase="'success'">
            <div class="alert alert-success alert-dismissible fade show mb-5" role="alert">
              Edição realizada com sucesso!
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
          <div *ngSwitchCase="'fail'">
            <div class="alert alert-danger alert-dismissible fade show mb-5" role="alert">
              Falha ao editar, confira os dados e tente novamente.
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <p class="title">Informação cadastral</p>
          <div class="content ms-3">
            <form class="row g-3" #formConteiner="ngForm" (ngSubmit)="editar()">
              <div class="col-md-12">         
                <label for="inputEstadoConteiner" class="form-label">Estado do Contêiner</label>
                <select class="form-select" id="inputEstadoConteiner" aria-label="estadoConteiner" [(ngModel)]="estadoConteinerSelecionado" name="estadoConteiner">
                  <option *ngFor="let a of fakeArrayConteiner; let index = index" [value]="index">{{estadoConteiner[index]}}</option>
                </select>
              </div>

              <div class="ctn-btn d-flex justify-content-evenly mt-5">
                <button type="submit">Salvar Alterações</button>
                <a [routerLink]="['/gerente/visualizar-estoque-conteineres']">Voltar</a>
              </div>
            </form>
          </div>
        </div>  
      </div>  
    </div>  
  </div>  
</div>