<div class="manter-terceirizado container-fluid mt-4 mb-4">
  <div class="container-content mb-4 p-4">
    <h1>Cadastrar Novo Terceirizado</h1>

    <div class="line mb-5"></div>

    <div [ngSwitch]="statusMsg">
      <div *ngSwitchCase="'success'">
        <div class="alert alert-success alert-dismissible fade show mb-5" role="alert">
          Cadastro realizado com sucesso!
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
      <div *ngSwitchCase="'fail'">
        <div class="alert alert-danger alert-dismissible fade show mb-5" role="alert">
          Falha ao cadastrar, confira os dados e tente novamente.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <p class="title">Dados cadastrais</p>
      <div class="content d-flex ms-3">
        <form class="row g-3" #f="ngForm" (ngSubmit)="cadastrar()">
          <div class="col-md-4">
            <label for="inputEmpresa" class="form-label">Nome da Empresa</label>
            <input type="text" class="form-control" id="inputEmpresa" [(ngModel)]="terceirizado.empresa" name="empresa">
          </div>
          <div class="col-md-4">
            <label for="inputCnpj" class="form-label">CNPJ</label>
            <input type="text" class="form-control" id="inputCnpj" [(ngModel)]="terceirizado.cnpj" name="cnpj">
          </div>

         <!-- <div class="col-md-4">
            <label for="inputNome" class="form-label">Tipo de Empresa</label>
            <div class="dropdown">
              <button class="btn btn-secondary btn-sm dropdown-toggle form-select" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Selecione
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" id="inputNome">
                <li name="nome" [(ngModel)]="servico.servicoUuid">
                  <a class="dropdown-item" *ngFor="let item of servicosCadastrados">
                    <input type="checkbox" [(ngModel)]="item.checked" name="nome"> {{item.nome}}
                  </a>
                </li>
              </ul>
            </div>
          </div>-->         

          <div class="col-md-4">         
            <label for="inputNome" class="form-label">Tipo de Empresa</label>
            <select class="form-select" id="inputNome" aria-label="Tipo de empresa" name="nome" [(ngModel)]="servico.servicoUuid">
              <option *ngFor="let item of servicosCadastrados" [value]="item.servicoUuid">{{item.nome}}</option>
            </select>
          </div>

          <div class="col-md-6">
            <label for="inputTelefone" class="form-label">Telefone</label>
            <input type="tel" class="form-control" id="inputTelefone" [(ngModel)]="terceirizado.telefone" name="telefone">
          </div>
          <div class="col-md-6">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail" [(ngModel)]="terceirizado.email" name="email">
          </div>     

          <div class="col-md-4">
            <label for="inputCep" class="form-label">CEP</label>
            <input type="text" class="form-control" id="inputCep" name="cep" [(ngModel)]="endereco.cep" (input)="searchAddress($event)">
          </div>
          <div class="col-md-4">
            <label for="inputEstado" class="form-label">Estado</label>
           <p class="form-control" id="inputEstado">{{ endereco.estado }}</p> 
          </div>
          <div class="col-md-4">
            <label for="inputCidade" class="form-label">Cidade</label>
            <p class="form-control" id="inputCidade">{{ endereco.cidade }}</p>
          </div>
          <div class="col-md-6">
            <label for="inputLogradouro" class="form-label">Endereço</label>
            <p class="form-control" id="inputLogradouro">{{ endereco.logradouro }}</p>
          </div>
          
          <div class="col-md-3">
            <label for="inputNumero" class="form-label">Número</label>
            <input type="number" class="form-control" id="inputNumero" placeholder="123" [(ngModel)]="endereco.numero" name="numero">
          </div>
          <div class="col-md-3 mb-3">
            <label for="inputComplemento" class="form-label">Complemento</label>
            <input type="text" class="form-control" id="inputComplemento" placeholder="Casa 2" [(ngModel)]="endereco.complemento" name="complemento">
          </div>

          <div class="ctn-btn d-flex justify-content-evenly mt-5">
            <button type="submit">Cadastrar</button>
            <a [routerLink]="['/gerente/visualizar-terceirizados']">Voltar</a>
            <!--<a href="#" routerLink="/gerente/visualizar-clientes">Voltar</a>-->
          </div>
        </form>
      </div>
    </div>  
</div>